{
  "settings": {
    "description": null,
    "homepage": null,
    "has_issues": true,
    "has_projects": false,
    "has_downloads": true,
    "has_wiki": false,
    "has_pages": false,
    "allow_squash_merge": false,
    "allow_merge_commit": true,
    "allow_rebase_merge": false,
    "delete_branch_on_merge": true
  },
  "branch_protection": {
    "required_status_checks": {
      "strict": true,
      "contexts": [
        "Lint Code Base"
      ]
    },
    "enforce_admins": true,
    "required_linear_history": false,
    "required_pull_request_reviews": null,
    "restrictions": null,
    "allow_force_pushes": false,
    "allow_deletions": false
  },
  "topics": {
    "names": []
  }
}